body {
    background: url("../images/oracleUpdated4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* .container {
    /* position: relative;
    height: 100vh; 
    width: 100vw;  */
    /* background-color: blue; 
}

.court {
    /* background-color: blue; 
    height: 100vh; 
    width: 100vw; 
    /* background-image: url("http://writingexercises.co.uk/random-images.php"); 
} */

/* body {
    background: url("assets/images/kd.jpg");
    background-color: #cccccc;
   } */

/* how to shrink margin equally on both sides */
.container {
    
}

  .title {
    color: gold;
} 
/*
.remove-all-margin{
    margin:0 ! important;
}*/

.candidates {
    position: relative;
    color: gold;
    top: 25px;
}

.pics {
    position: relative;
    top: 0px;
}

.Steph {
    color: #ffd700;
    text-align: center;
}
/*
.pics {
    position: absolute;
    top: 200px;
}
*/

.Kawhi {
    color: red;
    text-align: center;
}

.LeBron {
    color: purple;
    text-align: center;
}

.KD {
    color: gold;
    text-align: center;
} 

.battlefield {
    position: relative;
    top: 25px;
    color: white;
    text-align: center;
}

.you {
    text-align: center;
    color: green;
}

.opponent {
    text-align: center;
    color: red;
}

#you {
    top: 25px;
}

#you-text {
    
}

#choiceOfPlayer {
    top: 50;
    position: absolute;
}

#choiceOfOpponent {
    top: 50;
    position: absolute;
    right: 0;
    display: none;
}

#leftText {
    color: red;
}

#rightText {
    color: red;
}

#youScore {
    color: gold;
}

#oppScore {
    color: gold;
}
/*should probably change player positions to absolute, and then work on better grid in class